version: '2.1'

volumes:

  cloud9_workspace:
  cloud9_home:
  volumerize_cache:

services:

  cloud9:
    image: klutchell/cloud9:armhf-1.1.2
    ports:
      - '80:8080'
    volumes:
      - 'cloud9_workspace:/workspace'
      - 'cloud9_home:/root'
    privileged: true

  volumerize:
    image: klutchell/volumerize:armhf
    volumes:
      - 'volumerize_cache:/volumerize-cache'
      - 'cloud9_workspace:/volumes/cloud9_workspace:ro'
      - 'cloud9_home:/volumes/cloud9_home:ro'
    environment:
      - 'VOLUMERIZE_SOURCE=/volumes'
