version: '2.1'

volumes:

  cloud9_workspace:
  cloud9_home:

services:

  cloud9:
    image: klutchell/cloud9:armhf
    ports:
      - '80:8080'
    volumes:
      - 'cloud9_workspace:/workspace'
      - 'cloud9_home:/root'
    privileged: true

  duplicati:
    image: lsioarmhf/duplicati
    ports:
      - '8200:8200'
    volumes:
      - 'cloud9_workspace:/source/cloud9_workspace:ro'
      - 'cloud9_home:/source/cloud9_home:ro'
